In [2]:
import pandas as pd

In [9]:
by_age = "census_by_age.csv"
by_age_df = pd.read_csv(by_age, encoding="utf-8")
by_age_df.set_index("Label (Grouping)")

,Alabama!!Total!!Estimate,Alabama!!Total!!Margin of Error,Alabama!!Percent!!Estimate,Alabama!!Percent!!Margin of Error,Alabama!!Male!!Estimate,Alabama!!Male!!Margin of Error,Alabama!!Percent Male!!Estimate,Alabama!!Percent Male!!Margin of Error,Alabama!!Female!!Estimate,Alabama!!Female!!Margin of Error,...,Puerto Rico!!Percent!!Estimate,Puerto Rico!!Percent!!Margin of Error,Puerto Rico!!Male!!Estimate,Puerto Rico!!Male!!Margin of Error,Puerto Rico!!Percent Male!!Estimate,Puerto Rico!!Percent Male!!Margin of Error,Puerto Rico!!Female!!Estimate,Puerto Rico!!Female!!Margin of Error,Puerto Rico!!Percent Female!!Estimate,Puerto Rico!!Percent Female!!Margin of Error
Label (Grouping),,,,,,,,,,,,,,,,,,,,,
Total population,"5,039,877",*****,(X),(X),"2,445,896","±5,868",(X),(X),"2,593,981","±5,868",...,(X),(X),"1,543,991","±3,969",(X),(X),"1,719,593","±3,969",(X),(X)
AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Under 5 years,"290,091","±3,556",5.8%,±0.1,"149,482","±2,753",6.1%,±0.1,"140,609","±3,269",...,3.2%,±0.1,"49,739","±2,447",3.2%,±0.2,"54,102","±2,956",3.1%,±0.2
5 to 9 years,"298,540","±7,263",5.9%,±0.1,"154,786","±5,044",6.3%,±0.2,"143,754","±5,837",...,4.6%,±0.2,"77,392","±4,089",5.0%,±0.3,"72,805","±4,061",4.2%,±0.2
10 to 14 years,"337,730","±8,859",6.7%,±0.2,"168,349","±5,077",6.9%,±0.2,"169,381","±6,769",...,5.4%,±0.2,"88,821","±3,810",5.8%,±0.2,"87,621","±4,615",5.1%,±0.3
15 to 19 years,"338,347","±6,494",6.7%,±0.1,"168,250","±4,708",6.9%,±0.2,"170,097","±4,486",...,6.3%,±0.2,"107,021","±4,275",6.9%,±0.3,"98,793","±4,350",5.7%,±0.3
20 to 24 years,"323,961","±5,987",6.4%,±0.1,"161,958","±3,543",6.6%,±0.1,"162,003","±4,489",...,6.9%,±0.2,"113,220","±4,187",7.3%,±0.3,"112,661","±3,627",6.6%,±0.2
25 to 29 years,"314,216","±5,465",6.2%,±0.1,"158,157","±3,901",6.5%,±0.2,"156,059","±3,326",...,6.3%,±0.1,"105,018","±2,939",6.8%,±0.2,"101,951","±2,383",5.9%,±0.1
30 to 34 years,"319,367","±5,750",6.3%,±0.1,"153,644","±4,497",6.3%,±0.2,"165,723","±3,641",...,6.0%,±0.1,"99,493","±2,391",6.4%,±0.2,"95,742","±3,166",5.6%,±0.2
35 to 39 years,"311,035","±9,218",6.2%,±0.2,"150,970","±5,983",6.2%,±0.2,"160,065","±5,992",...,5.7%,±0.2,"85,490","±4,824",5.5%,±0.3,"101,537","±6,091",5.9%,±0.4
40 to 44 years,"326,605","±9,779",6.5%,±0.2,"163,681","±6,352",6.7%,±0.3,"162,924","±6,040",...,6.5%,±0.3,"99,522","±5,596",6.4%,±0.4,"114,058","±5,730",6.6%,±0.3
45 to 49 years,"301,406","±4,779",6.0%,±0.1,"144,396","±3,256",5.9%,±0.1,"157,010","±3,031",...,6.3%,±0.1,"97,552","±1,847",6.3%,±0.1,"108,403","±2,031",6.3%,±0.1
50 to 54 years,"316,964","±3,378",6.3%,±0.1,"156,348","±2,478",6.4%,±0.1,"160,616","±2,319",...,6.4%,±0.1,"98,609","±1,838",6.4%,±0.1,"111,410","±1,019",6.5%,±0.1
55 to 59 years,"333,592","±8,058",6.6%,±0.2,"164,793","±5,118",6.7%,±0.2,"168,799","±4,623",...,6.8%,±0.2,"97,706","±4,377",6.3%,±0.3,"122,650","±4,430",7.1%,±0.3
60 to 64 years,"342,214","±7,946",6.8%,±0.2,"161,849","±5,159",6.6%,±0.2,"180,365","±4,477",...,6.8%,±0.2,"104,340","±4,375",6.8%,±0.3,"117,442","±4,430",6.8%,±0.3
65 to 69 years,"290,906","±6,828",5.8%,±0.1,"132,095","±4,951",5.4%,±0.2,"158,811","±4,599",...,6.3%,±0.1,"95,260","±2,820",6.2%,±0.2,"110,298","±3,708",6.4%,±0.2
70 to 74 years,"249,317","±6,505",4.9%,±0.1,"117,433","±4,474",4.8%,±0.2,"131,884","±4,519",...,5.5%,±0.1,"76,637","±2,818",5.0%,±0.2,"101,968","±3,709",5.9%,±0.2
75 to 79 years,"159,256","±5,300",3.2%,±0.1,"70,083","±3,360",2.9%,±0.1,"89,173","±3,606",...,4.7%,±0.2,"64,205","±3,399",4.2%,±0.2,"88,995","±4,073",5.2%,±0.2
80 to 84 years,"104,574","±5,393",2.1%,±0.1,"42,140","±3,028",1.7%,±0.1,"62,434","±3,856",...,3.2%,±0.2,"46,925","±3,218",3.0%,±0.2,"58,940","±4,206",3.4%,±0.2
85 years and over,"81,756","±4,145",1.6%,±0.1,"27,482","±2,112",1.1%,±0.1,"54,274","±3,460",...,3.0%,±0.2,"37,041","±3,476",2.4%,±0.2,"60,217","±4,359",3.5%,±0.3
SELECTED AGE CATEGORIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5 to 14 years,"636,270","±5,561",12.6%,±0.1,"323,135","±4,380",13.2%,±0.2,"313,135","±4,371",...,10.0%,±0.1,"166,213","±2,946",10.8%,±0.2,"160,426","±2,044",9.3%,±0.1
15 to 17 years,"193,581","±3,798",3.8%,±0.1,"97,886","±2,970",4.0%,±0.1,"95,695","±3,309",...,3.5%,±0.1,"60,625","±2,485",3.9%,±0.2,"54,683","±2,744",3.2%,±0.2
Under 18 years,"1,119,942","±2,848",22.2%,±0.1,"570,503","±4,827",23.3%,±0.2,"549,439","±4,970",...,16.7%,*****,"276,577","±3,970",17.9%,±0.2,"269,211","±3,970",15.7%,±0.2
18 to 24 years,"468,727","±6,283",9.3%,±0.1,"232,322","±3,449",9.5%,±0.1,"236,405","±4,359",...,9.7%,±0.1,"159,616","±3,010",10.3%,±0.2,"156,771","±2,385",9.1%,±0.1
15 to 44 years,"1,933,531","±7,189",38.4%,±0.1,"956,660","±6,208",39.1%,±0.3,"976,871","±5,093",...,37.8%,±0.1,"609,764","±3,466",39.5%,±0.2,"624,742","±3,413",36.3%,±0.2
16 years and over,"4,046,627","±4,927",80.3%,±0.1,"1,938,048","±4,761",79.2%,±0.2,"2,108,579","±4,737",...,85.6%,±0.1,"1,308,609","±2,420",84.8%,±0.2,"1,486,350","±2,733",86.4%,±0.2
18 years and over,"3,919,935","±2,848",77.8%,±0.1,"1,875,393","±3,381",76.7%,±0.2,"2,044,542","±3,178",...,83.3%,*****,"1,267,414",*****,82.1%,±0.2,"1,450,382",*****,84.3%,±0.2
21 years and over,"3,699,142","±7,715",73.4%,±0.2,"1,766,813","±6,007",72.2%,±0.2,"1,932,329","±6,012",...,78.9%,±0.2,"1,193,132","±4,793",77.3%,±0.4,"1,381,298","±3,942",80.3%,±0.3
60 years and over,"1,228,023","±8,392",24.4%,±0.2,"551,082","±5,633",22.5%,±0.2,"676,941","±4,763",...,29.5%,±0.2,"424,408","±4,377",27.5%,±0.3,"537,860","±4,430",31.3%,±0.3
62 years and over,"1,090,086","±7,247",21.6%,±0.1,"484,695","±4,668",19.8%,±0.2,"605,391","±5,011",...,26.5%,±0.2,"377,201","±3,991",24.4%,±0.3,"488,583","±3,914",28.4%,±0.2
65 years and over,"885,809","±3,094",17.6%,±0.1,"389,233","±2,145",15.9%,±0.1,"496,576","±2,258",...,22.7%,*****,"320,068",*****,20.7%,±0.1,"420,418",*****,24.4%,±0.1
75 years and over,"345,586","±3,378",6.9%,±0.1,"139,705","±1,959",5.7%,±0.1,"205,881","±2,357",...,10.9%,*****,"148,171",*****,9.6%,±0.1,"208,152",*****,12.1%,±0.1
SUMMARY INDICATORS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Median age (years),39.8,±0.2,(X),(X),38.6,±0.3,(X),(X),40.9,±0.2,...,(X),(X),42.3,±0.3,(X),(X),46.0,±0.2,(X),(X)
Sex ratio (males per 100 females),94.3,±0.4,(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
Age dependency ratio,66.1,±0.2,(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
Old-age dependency ratio,29.2,±0.1,(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
Child dependency ratio,36.9,±0.1,(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
PERCENT ALLOCATED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sex,(X),(X),0.1%,(X),(X),(X),(X),(X),(X),(X),...,0.1%,(X),(X),(X),(X),(X),(X),(X),(X),(X)
Age,(X),(X),1.6%,(X),(X),(X),(X),(X),(X),(X),...,1.9%,(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [11]:
new_df=pd.DataFrame()
for column in by_age_df.columns:
    if "Label (Grouping)" in column:
        new_df[column]=by_age_df[column]
    if "Total!!Estimate" in column:
        new_df[column]=by_age_df[column]
new_df

,Label (Grouping),Alabama!!Total!!Estimate,Alaska!!Total!!Estimate,Arizona!!Total!!Estimate,Arkansas!!Total!!Estimate,California!!Total!!Estimate,Colorado!!Total!!Estimate,Connecticut!!Total!!Estimate,Delaware!!Total!!Estimate,District of Columbia!!Total!!Estimate,...,Tennessee!!Total!!Estimate,Texas!!Total!!Estimate,Utah!!Total!!Estimate,Vermont!!Total!!Estimate,Virginia!!Total!!Estimate,Washington!!Total!!Estimate,West Virginia!!Total!!Estimate,Wisconsin!!Total!!Estimate,Wyoming!!Total!!Estimate,Puerto Rico!!Total!!Estimate
0,Total population,"5,039,877","732,673","7,276,316","3,025,891","39,237,836","5,812,069","3,605,597","1,003,384","670,050",...,"6,975,218","29,527,941","3,337,975","645,570","8,642,274","7,738,692","1,782,959","5,895,908","578,803","3,263,584"
1,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Under 5 years,"290,091","46,198","402,255","179,924","2,210,235","307,837","177,577","53,039","40,809",...,"397,258","1,891,627","234,281","27,160","480,992","432,524","88,784","315,264","30,233","103,841"
3,5 to 9 years,"298,540","52,071","446,309","196,276","2,358,988","336,492","196,796","58,410","35,833",...,"425,066","2,055,807","264,290","30,530","514,219","467,851","97,530","344,082","36,056","150,197"
4,10 to 14 years,"337,730","52,507","476,245","204,485","2,647,372","374,046","212,689","59,908","33,735",...,"445,462","2,206,526","277,848","37,604","559,020","492,114","110,454","384,146","41,288","176,442"
5,15 to 19 years,"338,347","50,263","482,998","206,963","2,579,680","375,792","244,686","63,288","35,516",...,"449,515","2,136,373","270,529","41,810","570,825","463,399","108,222","388,505","40,161","205,814"
6,20 to 24 years,"323,961","45,855","488,212","200,480","2,531,692","373,720","239,473","57,635","45,383",...,"443,384","2,012,920","280,300","45,761","574,546","481,655","112,530","387,572","35,717","225,881"
7,25 to 29 years,"314,216","54,764","502,697","184,424","2,825,980","439,344","224,162","61,340","70,043",...,"474,393","2,081,721","251,665","37,969","568,529","557,222","99,646","370,196","34,091","206,969"
8,30 to 34 years,"319,367","57,577","497,839","200,352","3,001,889","461,953","226,701","67,224","75,836",...,"464,642","2,158,231","234,131","38,503","588,258","607,961","102,311","367,703","36,420","195,235"
9,35 to 39 years,"311,035","54,876","469,845","197,315","2,792,703","445,042","230,281","60,297","61,807",...,"464,200","2,127,969","238,561","41,049","600,446","559,968","106,342","381,671","44,890","187,027"
10,40 to 44 years,"326,605","48,079","445,579","186,669","2,621,983","405,251","220,845","61,791","49,092",...,"437,548","2,014,742","228,583","37,219","577,984","540,384","116,169","366,232","35,232","213,580"
11,45 to 49 years,"301,406","40,154","418,914","175,303","2,430,082","357,983","213,768","53,748","35,551",...,"422,409","1,839,793","188,641","35,459","524,904","454,468","106,176","333,463","33,372","205,955"
12,50 to 54 years,"316,964","42,306","431,427","181,449","2,498,846","351,748","248,669","61,552","34,592",...,"449,297","1,787,723","169,449","42,363","555,026","472,978","115,895","368,777","32,159","210,019"
13,55 to 59 years,"333,592","42,971","423,315","195,773","2,446,661","340,066","257,827","67,381","32,661",...,"444,101","1,694,061","155,329","46,986","558,828","466,800","120,035","413,935","33,776","220,356"
14,60 to 64 years,"342,214","46,642","456,696","191,325","2,327,199","362,628","262,951","76,220","33,577",...,"470,589","1,628,037","156,248","49,984","562,217","489,728","130,090","420,115","41,586","221,782"
15,65 to 69 years,"290,906","40,782","410,229","166,826","1,952,796","309,899","211,323","71,345","26,985",...,"400,115","1,331,526","134,819","45,570","468,946","421,924","119,948","357,289","37,156","205,558"
16,70 to 74 years,"249,317","26,509","374,138","147,804","1,616,408","249,243","168,116","54,062","23,546",...,"331,986","1,093,505","107,020","36,791","386,957","359,106","106,638","289,827","29,262","178,605"
17,75 to 79 years,"159,256","16,406","265,066","99,185","1,036,547","143,955","112,747","35,379","16,645",...,"212,530","678,928","67,238","22,648","252,737","214,695","64,030","177,163","16,497","153,200"
18,80 to 84 years,"104,574","8,004","156,443","59,497","680,328","95,138","73,716","21,804","8,061",...,"130,536","420,578","41,404","14,332","150,963","132,452","42,338","114,536","9,875","105,865"
19,85 years and over,"81,756","6,709","128,109","51,841","678,447","81,932","83,270","18,961","10,378",...,"112,187","367,874","37,639","13,832","146,877","123,463","35,821","115,432","11,032","97,258"
20,SELECTED AGE CATEGORIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,5 to 14 years,"636,270","104,578","922,554","400,761","5,006,360","710,538","409,485","118,318","69,568",...,"870,528","4,262,333","542,138","68,134","1,073,239","959,965","207,984","728,228","77,344","326,639"
22,15 to 17 years,"193,581","28,625","289,475","123,108","1,553,184","223,572","140,177","37,160","15,352",...,"269,829","1,302,587","169,038","21,473","327,587","283,293","64,624","231,113","23,952","115,308"
23,Under 18 years,"1,119,942","179,401","1,614,284","703,793","8,769,779","1,241,947","727,239","208,517","125,729",...,"1,537,615","7,456,547","945,457","116,767","1,881,818","1,675,782","361,392","1,274,605","131,529","545,788"
24,18 to 24 years,"468,727","67,493","681,735","284,335","3,558,188","525,940","343,982","83,763","65,547",...,"623,070","2,846,706","381,791","66,098","817,784","661,761","156,128","544,964","51,926","316,387"
25,15 to 44 years,"1,933,531","311,414","2,887,170","1,176,203","16,353,927","2,501,102","1,386,148","371,575","337,677",...,"2,733,682","12,531,956","1,503,769","242,311","3,480,588","3,210,589","645,220","2,261,879","226,511","1,234,506"
26,16 years and over,"4,046,627","571,832","5,852,913","2,405,035","31,507,237","4,720,626","2,971,314","819,868","553,437",...,"5,616,708","22,934,023","2,507,029","542,827","6,980,718","6,250,868","1,465,755","4,773,326","461,622","2,794,959"
27,18 years and over,"3,919,935","553,272","5,662,032","2,322,098","30,468,057","4,570,122","2,878,358","794,867","544,321",...,"5,437,603","22,071,394","2,392,518","528,803","6,760,456","6,062,910","1,421,567","4,621,303","447,274","2,717,796"
28,21 years and over,"3,699,142","521,655","5,372,612","2,194,015","28,918,596","4,346,563","2,721,498","754,148","515,012",...,"5,158,274","20,833,448","2,234,764","497,878","6,397,867","5,786,705","1,352,112","4,382,920","425,155","2,574,430"
29,60 years and over,"1,228,023","145,052","1,790,681","716,478","8,291,725","1,242,795","912,123","277,771","119,192",...,"1,657,943","5,520,448","544,368","183,157","1,968,697","1,741,368","498,865","1,474,362","145,408","962,268"
30,62 years and over,"1,090,086","124,583","1,609,301","639,556","7,330,977","1,097,994","804,856","247,308","103,636",...,"1,470,825","4,842,500","480,934","163,429","1,735,471","1,543,873","449,103","1,300,106","128,172","865,784"
31,65 years and over,"885,809","98,410","1,333,985","525,153","5,964,526","880,167","649,172","201,551","85,615",...,"1,187,354","3,892,411","388,120","133,173","1,406,480","1,251,640","368,775","1,054,247","103,822","740,486"
32,75 years and over,"345,586","31,119","549,618","210,523","2,395,322","321,025","269,733","76,144","35,084",...,"455,253","1,467,380","146,281","50,812","550,577","470,610","142,189","407,131","37,404","356,323"
33,SUMMARY INDICATORS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Median age (years),39.8,35.6,38.6,38.5,37.6,37.6,41.1,41.6,34.8,...,39.2,35.5,31.8,42.9,38.8,38.2,42.8,40.1,39.0,44.1
35,Sex ratio (males per 100 females),94.3,109.6,99.5,97.5,100.0,102.6,96.2,93.9,90.9,...,95.8,99.7,103.1,98.5,97.8,101.5,99.1,100.5,104.7,89.8
36,Age dependency ratio,66.1,61.1,68.1,68.4,60.1,57.5,61.7,69.1,46.1,...,64.1,62.4,66.5,63.2,61.4,60.8,69.4,65.3,68.5,65.1
37,Old-age dependency ratio,29.2,21.6,30.8,29.2,24.3,23.9,29.1,34.0,18.7,...,27.9,21.4,19.4,33.7,26.3,26.0,35.0,29.6,30.2,37.4
38,Child dependency ratio,36.9,39.4,37.3,39.2,35.8,33.7,32.6,35.1,27.4,...,36.2,41.0,47.2,29.5,35.1,34.8,34.3,35.7,38.3,27.6
39,PERCENT ALLOCATED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Sex,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
41,Age,(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [13]:
new_df.columns

Index(['Label (Grouping)', 'Alabama!!Total!!Estimate',
       'Alaska!!Total!!Estimate', 'Arizona!!Total!!Estimate',
       'Arkansas!!Total!!Estimate', 'California!!Total!!Estimate',
       'Colorado!!Total!!Estimate', 'Connecticut!!Total!!Estimate',
       'Delaware!!Total!!Estimate', 'District of Columbia!!Total!!Estimate',
       'Florida!!Total!!Estimate', 'Georgia!!Total!!Estimate',
       'Hawaii!!Total!!Estimate', 'Idaho!!Total!!Estimate',
       'Illinois!!Total!!Estimate', 'Indiana!!Total!!Estimate',
       'Iowa!!Total!!Estimate', 'Kansas!!Total!!Estimate',
       'Kentucky!!Total!!Estimate', 'Louisiana!!Total!!Estimate',
       'Maine!!Total!!Estimate', 'Maryland!!Total!!Estimate',
       'Massachusetts!!Total!!Estimate', 'Michigan!!Total!!Estimate',
       'Minnesota!!Total!!Estimate', 'Mississippi!!Total!!Estimate',
       'Missouri!!Total!!Estimate', 'Montana!!Total!!Estimate',
       'Nebraska!!Total!!Estimate', 'Nevada!!Total!!Estimate',
       'New Hampshire!!Total!!Estimate', 'New Jersey!!Total!!Estimate',
       'New Mexico!!Total!!Estimate', 'New York!!Total!!Estimate',
       'North Carolina!!Total!!Estimate', 'North Dakota!!Total!!Estimate',
       'Ohio!!Total!!Estimate', 'Oklahoma!!Total!!Estimate',
       'Oregon!!Total!!Estimate', 'Pennsylvania!!Total!!Estimate',
       'Rhode Island!!Total!!Estimate', 'South Carolina!!Total!!Estimate',
       'South Dakota!!Total!!Estimate', 'Tennessee!!Total!!Estimate',
       'Texas!!Total!!Estimate', 'Utah!!Total!!Estimate',
       'Vermont!!Total!!Estimate', 'Virginia!!Total!!Estimate',
       'Washington!!Total!!Estimate', 'West Virginia!!Total!!Estimate',
       'Wisconsin!!Total!!Estimate', 'Wyoming!!Total!!Estimate',
       'Puerto Rico!!Total!!Estimate'],
      dtype='object')

In [15]:
new_df.to_csv("new_by_age.csv",index = False, header = True)